.cart {
  &__heading {
  }
  &__badge {
    @apply mr-2 flex h-5 w-5 items-center justify-center rounded-full bg-red p-1 text-sm text-white;
  }
  &__text {
    @apply tracking-widest;
  }
  .listWrapper {
    @apply flex absolute top-0 left-0 justify-end w-screen h-screen -z-10 duration-1000;
    .list {
      @apply flex flex-col gap-4 w-[500px] p-8 bg-white translate-x-[600px] transition-all duration-500;
      .close {
        @apply flex justify-between;
        .closeBtn {
          @apply transition-all duration-500 w-[25px] h-[25px] cursor-pointer flex justify-between mr-10;
          .block1 {
            @apply h-[25px] w-[2px] ml-[12px] bg-black rotate-45;
          }
          .block2 {
            @apply h-[25px] w-[2px] bg-black rotate-90;
          }
        }
        .closeBtn:hover {
          transform: rotate(90deg);
        }
      }
      .items {
        @apply flex-1 flex flex-col gap-y-5;
      }

      &__footer {
        @apply flex justify-between items-center;
        p:first-child {
          @apply text-beige;
        }
        p:last-child {
          @apply text-lg font-semibold;
        }
        button {
          @apply p-2 bg-green text-white h-max rounded-lg shadow-sm shadow-black hover:bg-opacity-80 transition-all duration-300;
        }
        button:active {
          @apply translate-x-[1px] translate-y-[2px] shadow-none bg-green;
        }
      }
    }
    .list.open {
      @apply translate-x-0 delay-75;
    }

    .overlay {
      @apply fixed top-0 left-0 w-screen h-screen bg-black opacity-0 transition-all duration-500 -z-50;
    }
    .overlay.open {
      @apply opacity-60 delay-300;
    }
  }
  .listWrapper.open {
    @apply z-10;
  }
}
