.actions {
  @apply flex gap-x-5 justify-between items-center mt-1;
  .leftSide {
    @apply flex gap-4;
    button {
      @apply fill-dark-green transition-all duration-75;
    }
    button:hover {
      @apply fill-green;
    }
    button:active {
      @apply fill-green translate-x-[1px] translate-y-[2px] shadow-none;
    }

    span {
      @apply flex
      items-center
      justify-center
      font-bold
      text-lg min-w-[25px];
    }
  }
  .removeItem {
    @apply relative transition-all duration-300 fill-red;
  }

  .removeItem:hover {
    @apply fill-light-red;
  }

  .removeItem:active {
    @apply fill-red translate-x-[1px] translate-y-[2px];
  }
  .removeItem:after {
    @apply absolute text-white top-[-25px] right-[-10px] w-[100px] bg-light-red rounded-lg transition-all duration-300 opacity-0 invisible;
    content: "Delete";
  }
  .removeItem:hover:after {
    @apply opacity-100 visible;
  }
}

.removeConfirm {
  @apply h-[35px] transition-all duration-300;
  .removePopup {
    @apply flex gap-x-5 transition-all duration-300;
    button {
    }
  }
}
